<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <h1>All Events</h1>
    <nav>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Event/Group</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="event : ${events.entrySet()}">
                    <tr >
                        <td th:text="${event.getKey()}">event</td>
                        <td th:text="${event.getValue()}">description</td>
                    </tr>
                </th:block>
                <tr th:replace="fragments :: address"></tr>
            </tbody>
        </table>
    </nav>

</body>
</html>